@require 'include.styl';

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    px(4);
}

shortcuts = {
    auto: auto,
    b: block,
    bl: baseline,
    c: center,
    col-r: column-reverse,
    col: column,
    f: flex,
    fe: flex-end,
    fs: flex-start,
    inh: inherit,
    ini: initial,
    j: justify,
    jc: justify-content,
    l: left,
    nowrap: nowrap,
    r: right,
    row-r: row-reverse,
    row: row,
    s: stretch,
    sa: space-around,
    sb: space-between,
    wrap: wrap,
    wrap-r: wrap-reverse
};

build_helpers(prefix) {
    for i in 0 1 2 3 4 {
        .{prefix}pl-{i} {
            pl(i);
        }

        .{prefix}pr-{i} {
            pr(i);
        }

        .{prefix}pt-{i} {
            pt(i);
        }

        .{prefix}pb-{i} {
            pb(i);
        }

        .{prefix}px-{i} {
            px(i);
        }

        .{prefix}py-{i} {
            py(i);
        }

        .{prefix}pa-{i} {
            pa(i);
        }
    }

    for i in 0 1 2 3 4 auto {
        .{prefix}ml-{i} {
            ml(i);
        }

        .{prefix}mr-{i} {
            mr(i);
        }

        .{prefix}mt-{i} {
            mt(i);
        }

        .{prefix}mb-{i} {
            mb(i);
        }

        .{prefix}mx-{i} {
            mx(i);
        }

        .{prefix}my-{i} {
            my(i);
        }

        .{prefix}ma-{i} {
            ma(i);
        }
    }

    for i in (1 .. 12) {
        .{prefix}w-{i} {
            w(i);
        }
    }

    for i in (-6 .. 6) {
        .{prefix}o-{i} {
            o(i);
        }
    }

    for i in s c fs fe sb sa ini inh {
        .{prefix}ac-{i} {
            ac(shortcuts[i]);
        }
    }

    for i in s c fs fe bl ini inh {
        .{prefix}ai-{i} {
            ai(shortcuts[i]);
        }
    }

    for i in auto s c fs fe bl ini inh {
        .{prefix}as-{i} {
            as(shortcuts[i]);
        }
    }

    for i in fs fe c sb sa ini inh {
        .{prefix}jc-{i} {
            jc(shortcuts[i]);
        }
    }

    for i in l r c j ini inh {
        .{prefix}ta-{i} {
            ta(shortcuts[i]);
        }
    }

    for i in b f {
        .{prefix}d-{i} {
            d(shortcuts[i]);
        }
    }

    for i in row row-r col col-r {
        .{prefix}fd-{i} {
            fd(shortcuts[i]);
        }
    }

    for i in nowrap wrap wrap-r {
        .{prefix}fw-{i} {
            fw(shortcuts[i]);
        }
    }
}

for vpk, vpv in viewports {
    +with-vp(vpk) {
        build_helpers(vpk + '-');

        .container {
            if (vpv != 0) {
                max-width: vpv;
            }
        }
    }
}