@require 'include.styl';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: rythm(5);
    font-family: 'Anonymous Pro';
    color: colors.text;
    letter-spacing: 1px;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-weight: 700;
}

h1, .h1 {
    font-size: rythm(8);
    line-height: 1;
}

h2, .h2 {
    font-size: rythm(6);
    line-height: 1;
}

h3, .h3 {
    font-size: rythm(5);
    line-height: 1;
}

blockquote {
    font-size: rythm(4);
    padding-left: rythm(2);
    border-left: rythm(1) solid colors.main;
    padding: rythm(4);
}

p, blockquote, pre, ol, ul, li {
    &:not(:first-child) {
        margin-top: rythm(4);
    }

    & + h1, & + .h1, & + h2, & + .h2, & + h3, & + .h3 {
        margin-top: rythm(8);
    }
}

a:not(.no-underline) {
    color: colors.text;
    transition: color td;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:after {
        transition: border-bottom-color td;
        content: '';
        display: block;
        width: 100%;
        border-bottom: 2px solid colors.main;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    &:visited {
        color: initial;
    }

    &:hover {
        color: colors.main;
    }

    &:focus {
        color: colors.main-dark;

        &:after {
            border-bottom-color: colors.main-dark;
        }

        outline: none;
    }
}

pre {
    overflow: auto;
    background: colors.grey;
    padding: rythm(4) - 1;
    border: 1px solid colors.grey-dark;
}

ol {
    counter-reset: item;

    li:before {
        display: inline;
        content: counter(item) '. ';
        counter-increment: item;
        font-weight: bold;
    }
}

ul {
    li:before {
        display: inline;
        content: '• ';
        color: colors.main;
    }
}

li > ul, li > ol {
    mt(1);
    pl(5);
}

ul li {
    mt(1)
}

strong {
    font-weight: 700;
}

::selection {
    background-color: colors.main-light;
}

mark, .mark {
    background: colors.main;
    color: colors.text-white;
}
