vr = 4px;
colors = {
    text: black,
    grey: #eaeaeb,
    grey-dark: #d8d8d8,
    main: #d39867,
    main-dark: #6f300c,
    main-light: #ec9817
};
td = 0.15s;
breakpoints = {
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1200px
};
